@import "./vendors/bootstrap";

.app {
  height: 100vh;
  background-image: url("/landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Optima;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    color: rgb(153, 160, 135);
  }
}

.container {
  max-width: none !important;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-page {
  margin: 20px;
  font-size: 32px;
  transition: 0.3s;
  text-align: center;

  &:hover {
    color: rgb(153, 160, 135);
    cursor: pointer;
  }
}

.logo-name {
  font-size: 50px;
  text-align: center;
  padding: 124px 0%;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.counter-timer {
  font-size: 100px;
}

.list-networks {
  display: flex;
  justify-content: center;
}

.one-network {
  margin: 10px;
  font-size: 32px;
  transition: 0.3s;

  &:hover {
    color: rgb(153, 160, 135);
    cursor: pointer;
  }
}
