@import "./vendors/bootstrap";

.app {
  min-height: 100vh;
  background-image: url("/landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Optima;
}

a {
  color: black;
  transition: 0.2s;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &.back-button {
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 32px;

    &:hover {
      color: rgb(65, 149, 151);
    }
  }
}

.container {
  max-width: none !important;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-page {
  margin: 20px;
  font-size: 32px;
  text-align: center;
  padding: 0px !important;
}

.logo-name {
  font-size: 50px;
  text-align: center;
  padding: 124px 0%;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.counter-timer {
  font-size: 100px;
}

.list-networks {
  display: flex;
  justify-content: center;
}

.one-network {
  margin: 10px;
  font-size: 32px;
  transition: 0.3s;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.definition,
.description,
.contact {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10% 20%;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
